@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    --primary-color : #0a1118;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #fbf0f6;
    font-family: 'Montserrat', sans-serif;
}

.header {
    z-index: 2;
    background-color: #233D54;
    
}
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(38, 114, 212, 0.9);
    z-index: 4;
}

.dropdown-nav__closenavbtn{
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: rgba(113, 164, 231, 0.7);
}